.login {
	width: 400px;
	margin: 0 auto;
	position: relative;
	top: 90px;
	.Login0100 {
		.label-checkbox {
			.text {
				color: #999999;
				font-size: 14px;
			}
		}
		.reset-pass{
			margin-left: 15px;
		}
		.icon-login {
			color: $color-header-main;
			font-size: 73px;
			width: 110px;
			border-radius: 50%;
			margin: 0 auto;
			background-color: rgba(128, 128, 128, 0.25);
			text-align: center;
			i{
				top: 7px;
			}
		}
		.label-text{
			text-align: center;
			color: #B9B7B7;
		}
	}
}