<div class="login row">
	<div class="Login0100 panel taa-panel taa-box-shadow-panel">
		<div class="panel-body">
			<div>
				<div class="icon-login"> <i class="glyphicon glyphicon-user"></i>
				</div>
				<div class="label-text">
					<h3>ログイン</h3>
				</div>
			</div>
			<form ng-submit="sumbitLogin();" accept-charset="utf-8">
				<div ng-if="m.validateLogin == true" class="col-md-12 form-group">
					<div class="alert alert-danger">ユーザー名かパスワードに誤りがあります。</div>
				</div>
				<div class="col-md-12 form-group">
					<input type="text" class="form-control" placeholder="メールアドレス" ng-model="m.username"/>
				</div>
				<div class="col-md-12 form-group">
					<input type="password" class="form-control" placeholder="パスワードは必須です。" ng-model="m.password"/>
				</div>
				<div class="col-md-12 form-group label-checkbox">
					<label class="text">
						<input type="checkbox">
						<span class="checkbox-material">
							<span class="check"></span>
						</span>
						このログイン情報をブラウザに保存する
					</label>
				</div>
				<div class="col-md-12 form-group">
					<button type="submit" class="btn btn-primary">ログイン</button>
					<a class="reset-pass" ui-sref="pwdReset">パスワードを忘れた場合</a>
				</div>
			</form>
		</div>
	</div>
</div>